@import "products";
@import "cart";

#root {
  display: flex;
  max-width: 900px;
  flex-direction: column;
}
.gnb {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
