.products {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.product-item {
  border: 1px solid #000;
  padding: 10px;

  &_image {
    width: 250px;
    height: 200px;
    object-fit: cover;
  }
  &_description {
    font-size: small;
  }
  span {
    margin-right: 10px;
  }
}
